<div ng-controller="stampCtrl as stampCtrl">
    <div class="main_bg">
        <div class="wrap">	
            <div class="main">
                <h2 class="style top">featured Stamps</h2>
                <!-- start grids_of_3 -->
                <div class="grids_of_3">
                    <div class="grid1_of_3">
                        <img src="images/w_pic1.jpg" alt=""/>
                        <h3>Music Box</h3>
                        <div class="price">
                            <a href="#"><h4>$17</h4></a>
                            <br>
                            <div>
                                <span>Likes: 15</span>
                            </div>
                        </div>
                        <span class="b_btm"></span>
                    </div>
                    <div class="grid1_of_3">
                        <img src="images/w_pic2.jpg" alt=""/>
                        <h3>Mario</h3>
                        <div class="price">
                            <a href="#"><h4>$25</h4></a>
                            <br>
                            <div>
                                <span>Likes: 0</span>
                            </div>
                        </div>
                        <span class="b_btm"></span>
                    </div>
                    <div class="grid1_of_3">
                        <img src="images/w_pic3.jpg" alt="" height="225" width="225"/>
                        <h3>Buho</h3>
                        <div class="price">
                            <a href="#"><h4>$25</h4></a>
                            <br>
                            <div>
                                <span>Likes: -3</span>
                            </div>
                        </div>
                        <span class="b_btm"></span>
                    </div>
                </div>
                <div class="grids_of_3">
                    <div class="grid1_of_3" ng-repeat = "catalog in catalogRecords">
                        <img src='{{catalog.image}}'  alt="" height="225" width="225"/>
                        <h3>{{catalog.name}}</h3>
                        <div>
                            <button ng-click= "stampCtrl.likeStamp(catalog)"><i class="fa fa-thumbs-o-up"></i></button>
                            <span>{{catalog.rating}}</span>
                            <button ng-click= "stampCtrl.dislikeStamp(catalog)"><i class="fa fa-thumbs-o-down"></i></button>
                        </div>
                        <div class="price">
                            <a ng-click = "stampCtrl.deleteStamp(catalog)" ><h4>${{catalog.price}}<span>Delete</span></h4></a>
                            <button ng-click= "stampCtrl.edit()"><span>Edit</span></button>
                        </div> 
                        <span class="b_btm"></span>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="wrap">
                    <div class="copy ">
                        <div class="price ">
                            <a  id="upload" ng-click="stampCtrl.upload()"><h4><span>upload new stamp</span></h4></a>
                        </div>
                    </div>
                </div>
                    <div class="wrap" ng-show="stampCtrl.uploadMode">
                    <div class="copy ">
                        <div class="price ">
                            <div class="contact">				
                                <h2>Upload new stamp</h2>
                                <form name="catalogForm" class="css-form" novalidate>
                                    <input class="form-control" type="hidden" ng-model="catalogRecord.id"/>
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input id="name" name="name" type="text" ng-model="catalogRecord.name" required/>
                                         <br />
                                        <div ng-show="catalogForm.$submitted || catalogForm.name.$touched">
                                          <div ng-show="catalogForm.name.$error.required">Tell us the name.</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Price</label>
                                        <input id="price" name="price" type="number" ng-model="catalogRecord.price" required/>
                                        <br />
                                        <div ng-show="catalogForm.$submitted || catalogForm.price.$touched">
                                          <div ng-show="catalogForm.price.$error.required">Tell us the price</div>  
                                          <div ng-show="catalogForm.price.$error.number">That is not a number</div>
                                        </div>
                                    </div>
                                    <input type="hidden" value="as"  ng-model="catalogRecord.image"/>
                                    <input id="files" type="file" name="uploadField"/> 
                                    <br/>
                                    
                                    <button id="saveStamp" class="btn btn-default navbar-btn"  ng-click="stampCtrl.saveStamp(catalogRecord,catalogForm)"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                                    <div ng-show="stampCtrl.error">Resolve the errors before saving the new stamp</div>
                                </form>
                            </div>
                            <!-- end grids_of_3 -->
                        </div>
                    </div>
                </div>	

                <div class="wrap" ng-show="stampCtrl.editMode">
                    <div class="copy ">
                        <div class="price ">
                            <div class="contact">				
                                <h2>Edit stamp</h2>
                                <form name="catalogForm" class="css-form" novalidate>
                                    <input class="form-control" type="hidden" ng-model="catalogRecord.id"/>
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input name="name" type="text" ng-model="catalogRecord.name" required/>
                                         <br />
                                        <div ng-show="catalogForm.$submitted || catalogForm.name.$touched">
                                          <div ng-show="catalogForm.name.$error.required">Tell us the name.</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Price</label>
                                        <input name="price" type="number" ng-model="catalogRecord.price" required/>
                                        <br />
                                        <div ng-show="catalogForm.$submitted || catalogForm.price.$touched">
                                          <div ng-show="catalogForm.price.$error.required">Tell us the price</div>  
                                          <div ng-show="catalogForm.price.$error.number">That is not a number</div>
                                        </div>
                                    </div>
                                    <input type="hidden" value="as"  ng-model="catalogRecord.image"/>
                                    <input id="files" type="file" name="uploadField"/> 
                                    <br/>
                                    
                                    <button class="btn btn-default navbar-btn"  ng-click="stampCtrl.editStamp(catalogRecord)"><span class="glyphicon glyphicon-floppy-disk"></span> Edit</button>
                                    <div ng-show="stampCtrl.error">Resolve the errors before saving the new stamp</div>
                                </form>
                            </div>
                            <!-- end grids_of_3 -->
                        </div>
                    </div>
                </div>	
            
            </div>	
        </div>
    </div>
</div>

