
<!-- start main -->
<div ng-controller="detailsCtrl as detailsCtrl">
<div class="main_bg" >
<div class="wrap">	
	<div class="main" >
	<!-- start content -->
	<div class="single">
			<!-- start span1_of_1 -->
			<div class="left_content">
			<div class="span1_of_1">
				<!-- start product_slider -->
				<div class="product-view">
				    <div class="product-essential">
				        <div class="product-img-box">
				    <div class="more-views" style="float:left;">
				        <div class="more-views-container">
				        <ul>
		
				          </ul>
				        </div>
				    </div>
				    <div class="product-image"> 
				        <a>
				           	<img src="images/0001-2.jpg" alt="Women Shorts" title="Women Shorts" />
				        </a>
				   </div>
					<script type="text/javascript">
						var prodGallery = jQblvg.parseJSON('{"prod_1":{"main":{"orig":"images/0001-2.jpg","main":"images/large/0001-2.jpg","thumb":"images/small/0001-2.jpg","label":""},"gallery":{"item_0":{"orig":"images/0001-2.jpg","main":"images/large/0001-2.jpg","thumb":"images/small/0001-2.jpg","label":""},"item_1":{"orig":"images/0001-1.jpg","main":"images/large/0001-1.jpg","thumb":"images/small/0001-1.jpg","label":""},"item_2":{"orig":"images/0001-5.jpg","main":"images/large/0001-5.jpg","thumb":"images/small/0001-5.jpg","label":""},"item_3":{"orig":"images/0001-3.jpg","main":"images/large/0001-3.jpg","thumb":"images/small/0001-3.jpg","label":""},"item_4":{"orig":"images/0001-4.jpg","main":"images/large/0001-4.jpg","thumb":"images/small/0001-4.jpg","label":""}},"type":"simple","video":false}}');
						    gallery_elmnt = jQblvg('.product-img-box');
						    galleryObj = new Object();
						    gallery_conf = new Object();
						    gallery_conf.moreviewitem = '<a class="cs-fancybox-thumbs" data-fancybox-group="thumb" style="width:64px;height:85px;" href=""  title="" alt=""><img src="" src_main="" width="64" height="85" title="" alt="" /></a>';
						    gallery_conf.animspeed = 200;
						jQblvg(document).ready(function() {
						    galleryObj[1] = new prodViewGalleryForm(prodGallery, 'prod_1', gallery_elmnt, gallery_conf, '.product-image', '.more-views', 'http:');
						        jQblvg('.product-image .cs-fancybox-thumbs').absoluteClick();
						    jQblvg('.cs-fancybox-thumbs').fancybox({ prevEffect : 'none', 
						                             nextEffect : 'none',
						                             closeBtn : true,
						                             arrows : true,
						                             nextClick : true, 
						                             helpers: {
						                               thumbs : {
						                                   width: 64,
						                                   height: 85,
						                                   position: 'bottom'
						                               }
						                             }
						                             });
						    jQblvg('#wrap').css('z-index', '100');
						            jQblvg('.more-views-container').elScroll({type: 'vertical', elqty: 4, btn_pos: 'border', scroll_speed: 400 });
						        
						});
						
						function initGallery(a,b,element) {
						    galleryObj[a] = new prodViewGalleryForm(prods, b, gallery_elmnt, gallery_conf, '.product-image', '.more-views', '');
						};
                                                
                                                
					</script>
                                         
				</div>
				</div>
				</div>
				<!-- end product_slider -->
			</div>
			<!-- start span1_of_1 -->
			<div class="span1_of_1_des">
                            
				  <div class="desc1">
					<h3>Buy your shirt </h3>
					<p>Choose your shirt size, color, and quantity. <br> Sizes available: S, M, L, XL <br>Buy up to 5 shirts! </p>
					<h5>Price. 399 <a href="#">click for offer</a></h5>
					<div class="available">
						<h4>Available Options :</h4>
						<ul>
                                                    
                                                    
                                                    <li>Color:
							<select ng-model="currentRecord.color">
								<option>Silver</option>
								<option>Black</option>
								<option>Dark Black</option>
								<option>Red</option>
							</select></li>
							
                                                        <li>Size:
								<select ng-model="currentRecord.size">
									<option>S</option>
									<option>M</option>
									<option>L</option>
									<option>XL</option>
								</select>
							</li>
                                                        
							<li>Quantity:
								<select ng-model="currentRecord.quantity">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</li>
						</ul>
						<div class="btn_form">
							
                                                            <button class="btn btn-default navbar-btn" ng-click="detailsCtrl.saveSale()"><span class="glyphicon glyphicon-floppy-disk">Add to cart</span> </button>
							
						</div>
						<span class="span_right"><a href="#">login to save in wishlist </a></span>
						<div class="clear"></div>
					</div>
					
                        <div class="contact">				
                                 <h2>Shopping Cart</h2>
                        </div>    
                       </div>
                                        <div class="share-desc">
                                            <br/>
						<div class="share">
						
							<ul class="share_nav">
								<li><a href="#"><img src="images/facebook.png" title="facebook"></a></li>
								<li><a href="#"><img src="images/twitter.png" title="Twiiter"></a></li>
								<li><a href="#"><img src="images/rss.png" title="Rss"></a></li>
								<li><a href="#"><img src="images/gpluse.png" title="Google+"></a></li>
				    		</ul>
						</div>
						<div class="clear"></div>
					</div>
			   	 </div>
			   	</div>
			   	<div class="clear"></div>
			   <div class="banner-wrap bottom_banner color_link">
								<a  ng-click="detailsCtrl.shoppingCar()" class="main_link">
								<figure><img src="images/slider1.png" alt=""></figure>
								<h5><span>Shopping Car </span><br> </h5>
                                                                <br/>
                                                                <h5><span>Amount: {{amount}} </span><br> </h5>
                                                                </a>
                                <div>
                                            <div class="grid1_of_3" ng-repeat = "record in records">

                                                <h3>{{record.color}}</h3>
                                                <h3>{{record.size}}</h3>
                                                <h3>{{record.quantity}}</h3>
                                                <h3>{{record.price}}</h3>
                                                <br>
                                                <div class="price">
                                                    <a ng-click = "detailsCtrl.deleteSale(record)" ><h4><span>Delete</span></h4></a>
                                                </div> 
                                            </div>
						 </div>
                                       <div class="clear"></div>    
                                        </div>
			 </div>

	       </div>	
	<!-- end content -->
	</div>
</div>
</div>	
