nbproject/private/private.xml
public_html/src/target/app-1.jar
public_html/src/target/sonar/sonar-pom.xml
*.tmp
/FrontEnd/public_html/src/target/
/BackEnd/Callys.logic/target/
/BackEnd/Callys.service/target/
/FrontEnd/nbproject/private/
/BackEnd/Callys.service/src/main/webapp/src/target/
/BackEnd/Callys.web.test/target/