<div ng-controller="signupCtrl as signupCtrl">
     <!-- start main -->
    <div class="wrap">
        <div class="copy ">
            <div class="price ">
                <div class="contact">
                    <div class="price ">
                        <a ng-click="signupCtrl.clientFunction()"><h4><span>Client</span></h4></a>
                    </div>
                    <div ng-show="signupCtrl.client">
                        <form name="catalogForm" class="css-form" novalidate>
                            <span> User name: </span>
                            <br/>
                            <input id='nameClient' type="text" value="" ng-model="currentRecord.username">
                            <br/>
                            <br/>
                            <span> Password: </span>
                            <br/>
                            <input id='passwordClient' type="password" value="" ng-model="currentRecord.password">
                             <br/>
                            <br/>
                            <span> CreditCard number: </span>
                            <br/>
                            <input id='creditCardClient' type="number" value="" ng-model="currentRecord.creditNumber">
                            <br/>
                            <br/>
                            <span> Email: </span>
                            <br/>
                            <input id='emailClient' type="email" value="" ng-model="currentRecord.email">
                            <br/>
                            <br/>
                            <input id='submitClient' type="submit" value="signUp artist" ng-click="signupCtrl.saveClient(currentRecord)">
                        </form>
                    </div>
                    <div class="price ">
                        <a id='artist' ng-click="signupCtrl.artistFunction()"><h4><span>Artist</span></h4></a>
                    </div>
                    <div ng-show="signupCtrl.artist">
                        <form name="catalogForm2" class="css-form" novalidate>
                            <span> Name: </span>
                            <br/>
                            <input id='nameArtist' type="text" ng-model="currentRecord.name">
                            <br/>
                            <br/>
                            <span> User Name: </span>
                            <br/>
                            <input id='userNameArtist' type="text"  ng-model="currentRecord.username">
                            <br/>
                            <br/>
                            <span> Password: </span>
                            <br/>
                            <input id='passwordArtist' type="text"  ng-model="currentRecord.clave">
                            <br/>
                            <br/>
                            <input id='submitArtist' type="submit" value="signUp artist"ng-click="signupCtrl.saveArtist(currentRecord)">
                        </form>
                    </div>
                    <br/>
                    <br/>
                    <div ng-show="signupCtrl.successfull"> Your Sign up was successful</div>
                </div>
           </div>
        </div>
     </div>	    
</div>

 