<div ng-controller="loginCtrl as loginCtrl">
    <div class="wrap">
        <div class="copy ">
            <div class="price ">
                <div class="contact">
                    <form>
                        <span> User name </span>
                        <input id='userName' type="text" value="" ng-model="currentRecord.username">
                        <br/>
                        <br/>
                        <span> Password </span>
                        <input id='password' type="password" value="" ng-model="currentRecord.password">
                        <br/>
                        <br/>
                        <input id='submit' type="submit" value="login"  ng-click="loginCtrl.login()">
                    </form>
                </div>
            </div>
        </div>
    </div>	
    <div ng-show="loginCtrl.artist" class =" row">
    <div class="grids_of_3">  
         <div class="wrap">
            <div class = "grid1_of_3edited">
            <h2 class="style top">Welcome Luis{{$scope.currentRecord.name}}</h2> 
            <br/>
            <br/>
            <img alt="" src="images/default-user.png" height="400" width="400" />
            <br/>
            <br/>
            </div>
            <div class = "grid1_of_3edited">
                    <br/>
                    <br/>
                    <br/>
                    <br/>  
                    <br/>  
                   <h2 class="style top" style="text-allign:left">Datos de contacto: {{$scope.currentRecord.datosDecontacto}}</h2> 
                   <br/>
                    <br/>
                    <br/>
                    <br/>  
                    <br/>  
                   <h2 class="style top" style="text-allign:left">telefono: 3113498463 {{$scope.currentRecord.datosDecontacto}}</h2> 
                   <br/>
                    <br/>
                    <br/>
                    <br/>  
                    <br/>  
                   <h2 class="style top" style="text-allign:left">Direccion: carrera 8 # 84-63 {{$scope.currentRecord.datosDecontacto}}</h2> 
            </div>   
         </div>
     </div>
    </div>
    <div ng-show="loginCtrl.client" class =" row">
        <div class="grids_of_3">  
            <div ng-hide="loginCtrl.artist" class="wrap">
                <div class = "grid1_of_3edited">
                <h2 class="style top">Welcome Luis{{$scope.currentRecord.name}}</h2> 
                <br/>
                <br/>
                <img alt="" src="images/default-user.png" height="400" width="400" />
                <br/>
                <br/>
                </div>
                <div class = "grid1_of_3edited">
                <br/>
                <br/>
                <br/>
                <br/>  
                <br/> 
                <h2 class="style top">Credit card number: {{$scope.currentRecord.name}}</h2> 
                </div>   
            </div>
        </div>
    </div>
    <div ng-show="loginCtrl.wrong" class =" row">
    Wrong username or password
    </div>
</div>
 