<div ng-controller="purchaseCtrl as purchaseCtrl">
    <div class="main_bg">
        <div class="wrap">	
            <div class="main" >
            <!-- start gallery_sale  -->
        	<ul id="filters" >
                    <li><span class="filter active" data-filter="app card icon logo web">Your T-Shirt</span></li>
		</ul>
                <br/>
                <br/>
                <br/>
                
                <div class="grids_of_3">
                    
                        <form name="catalogForm" class="css-form" novalidate >
                             <div class="grid1_of_3" ng-repeat = "record in purchaseRecords">
                        <div class="wrap">
                            <h3>Sales Element</h3> 
                            <h3>Color: {{record.color}}</h3>
                            <h3>Size: {{record.size}}</h3>
                            <h3>Cuantity per unit: {{record.quantity}}</h3>
                            <h3>Price: {{record.price}}</h3>
                             <img alt="" src="{{record.image}}" height= "200" width="200"  />
                            <br>              
                            <img src='{{record.image}}'  alt="" height="90" width="90"/>
                            <h3>{{record.name}}</h3>
                            <h3>${{record.price}}</h3>
                            <div ng-show="clientCtrl.noRate">
                                <button ng-click= "clientCtrl.likeStamp(catalog)"><i class="fa fa-thumbs-o-up"></i></button>
                                <span>{{record.rating}}</span>
                                <button ng-click= "clientCtrl.dislikeStamp(catalog)"><i class="fa fa-thumbs-o-down"></i></button>
                                <span class="b_btm"></span>
                            </div>
                            <div ng-hide= "clientCtrl.noRate">
                                <span>{{record.rating}}</span>
                                <span class="b_btm"></span>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                        </form>
                </div>
            <div class="clear"> </div>
            </div>
<!---End-gallery----->
	</div>
</div>
</div>
